/* --- Content ---------------------------- */

// Remake 2020 Notice
.remake2020-notice {
    padding: $sizing-md;
    background-color: $what-a-highlight;

    p {
        margin: 0;
    }

    a {
        color: black;
    }
}

// Selections

::selection {
    background-color: $what-a-highlight;
}
