/* --- Nav ---------------------------- */

.site-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
    background-color: white;
    opacity: 1;
    transition: opacity 600ms ease-out;
    transform: translate(0, 0);

    &__toggle {
        position: absolute;
        top: 1.9rem;
        right: $sizing-md;
        z-index: 3;

        @include medium {
            top: 2.2rem;
            right: $sizing-md;
        }
        
        .telltec & {
            display: flex;
            padding: 0;
        }

        .hamburger-label {
            font-weight: bold;
            margin-right: $sizing-sm;
        }
    }

    &--hidden { 
        width: 0;
        opacity: 0;
        transform: translate(0, -100vw);
        li {
            animation: 1s slideOut;
            opacity: 0;
        }
    }

    &--show {
        li {
            animation: 1s slideIn forwards;
            opacity: 1;
        }
    }

    &__menu {
        position: absolute;
        top: $sizing-xl;
        right: $sizing-md;
        text-align: right;
        list-style-type: none;
        font-size: 2rem;
        font-weight: bold;
        z-index: 3;

        li {
            opacity: 0;
        }

        a {
            display: block;
            padding: $sizing-sm;
            color: black;
            text-decoration: none;
        }
    }

}



@keyframes slideIn {

    from {
        transform: translate(-25%,0);
        opacity: 0
    }
    
    to {
        transform: translate(0,0);
        opacity: 1
        
    }

}

@keyframes slideOut {

    from {
        transform: translate(0,0);
        opacity: 1
    }
    
    to {
        transform: translate(-25%,0);
        opacity: 0
    }

}
