/* --- Nav ---------------------------- */

.site-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
    transform: translateX(0);
    transition: opacity 300ms ease;
    background-color: white;
    opacity: 1;

    &__toggle {
        position: absolute;
        top: 1.9rem;
        right: $sizing-md;

        @include medium {
            top: 2.2rem;
            right: $sizing-md;
        }
        
        z-index: 2;

        .telltec & {
            display: flex;
            padding: 0;
        }

        .hamburger-label {
            font-weight: bold;
            margin-right: $sizing-sm;
        }
    }

    &--hidden { 
        opacity: 0;
        transform: translateX(100vw);
    }

    &__menu {
        margin-top: $sizing-xl;
        text-align: right;
        list-style-type: none;
        font-size: 2rem;
        font-weight: bold;
        line-height: calc(2rem*1.3);

        a {
            padding: $sizing-md;
            color: black;
            text-decoration: none;
        }
    }

}