/* --- Post ---------------------------- */

.entry-categories {
    margin-bottom: $sizing-lg;

    a {
        padding: $sizing-sm;
        border-radius: $border-radius;
        color: $grey--medium;
        text-decoration: none;
        background-color: $grey--verylight;
    }
}

.entry-content {

    img {
        max-width: 100%;
        height: auto;
    }

    iframe,
    div {
        max-width: 100%;
    }

    a {
        word-break: break-word;
    }

}


.post-edit-link {
    color: $grey--medium;
}