/* --- Post ---------------------------- */

.entry-content {

    img {
        max-width: 100%;
        height: auto;
    }

    iframe,
    div {
        max-width: 100%;
    }

    a {
        word-break: break-word;
    }

    // button block
    .wp-block-button {
        margin: 0 0 $sizing-md 0;

        &__link {
            border-radius: $border-radius;
        }
    }

}


.post-edit-link {
    color: $grey--medium;
}