/* --- Various Single Pages ---------------------------- */

/* Remake 2020
------------- */

.page-remake-2020 {
 
    .entry__content h3 em {
        margin-left: 0.5rem;
        padding: $sizing-sm;
        border-radius: $border-radius;
        font-size: 1rem;
        font-weight: 400;
        font-style: normal;
        color: $grey--medium;
        background-color: $grey--verylight;
    }

}

/* Things I use
------------- */

.page-uses {

    .entry__content {

        em {
            font-style: normal;
            color: $grey--dark;

            &:before {
                content: "💭";
                margin-right: $sizing-xs;
            }

            a {
                color: $grey--dark;
                text-decoration-thickness: 1px;
                text-decoration-color: $grey--light;
            }

        }

    }

}