/* --- Helpers & Utilitie Classes ---------------------------- */

// Toggle visibility

.visible {
  display: initial;

  &--sm {
    @include small {
      display: initial;
    }
  }

  &--md {
    @include medium {
      display: initial;
    }
  }

}

.invisible {
  display: none;

  &--md {
    @include medium {
      display: none;
    }
  }

  &--until-md {
    @include until--medium {
      display: none;
    }
  }

}


// Accessibility

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

// Float

.clear-float {
  clear: both;
}