/* --- Variables ---------------------------- */

/* Colors
------------- */

$very-light-grey: #f1f2f1;

$what-a-highlight: #fff8db;

$funky-fresh: hsl(208, 100%, 43%);
$funky-fresh--light: hsl(208, 100%, 63%);


/* Fonts
------------- */

$primary-font: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";


/* Sizing Units
------------- */

$sizing-xs:        0.25rem;
$sizing-sm:    2 * $sizing-xs;
$sizing-md:    5 * $sizing-xs;
$sizing-lg:   10 * $sizing-xs;
$sizing-xl:   20 * $sizing-xs;

$container-width: 850px;
$container-width--wide: 1050px;


/* Sizes & Breakpoints
------------- */

$size-md: 768px;
$size-lg: 991px;
$size-xl: 1200px;
$size-xxl: 1500px;

@mixin small {
  @media (min-width: 0) {
    @content;
  }
}

@mixin medium {
  @media (min-width: #{$size-md + 1px}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$size-lg + 1px}) {
    @content;
  }
}

@mixin xlarge {
  @media (min-width: #{$size-xl + 1px}) {
    @content;
  }
}

@mixin xxlarge {
  @media (min-width: #{$size-xxl + 1px}) {
    @content;
  }
}

// until

@mixin until--medium {
  @media (max-width: #{$size-md}) {
    @content;
  }
}